.note {
  margin: 20px;
}

form {
  margin-bottom: 20px;
}

.noteTitle {
  margin-bottom: 20px;
}

input {
  width: 400px;
}

.btn {
  margin-bottom: 20px;
}

li {
  margin-bottom: 15px;
}

h1 {
  margin-left: 25px;
}
