<div ng-controller="NoteController">

  <div class="col-md-4">

    <button class="btn" ng-click="addNote()">Add a Note</button>

    <ul class="list-unstyled">

      <li ng-click="edit(note)" ng-repeat="note in list">
        <div>{{ note.title }}</div>
        <div class="listText">{{ note.text.substr(0,40); }}</div>
      </li>

    </ul>

  </div>

  <div class="col-md-8">

    <form class="">

      <div class="noteTitle">
        Title: <input type="text" ng-model="note.title" placeholder="Enter Title" ng-change="list.$save(note)" ng-model-instant>
      </div>

      <div class="noteText">
        <textarea cols="125" rows="32" type="text" ng-model="note.text" placeholder="Enter Text" ng-change="list.$save(note)" ng-model-instant></textarea>
      </div>


    </form>

  </div>



</div>
